<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
        }
        
        .wrapper {
            display: table;
            table-layout: fixed;
            width: 100%;
            min-width: 620px;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        
        body,
        .wrapper {
            background-color: #dce6e8;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        table.center {
            margin: 0 auto;
            width: 800px;
        }
        
        td {
            padding: 0;
            vertical-align: top;
        }
        
        .spacer,
        .border {
            font-size: 1px;
            line-height: 1px;
        }
        
        .spacer {
            width: 100%;
            line-height: 16px
        }
        
        .border {
            background-color: #e0e0e0;
            width: 1px;
        }
        
        .padded {
            padding: 0 24px;
        }
        
        strong,
        .strong {
            font-weight: 700;
        }
        
        h1,
        h2,
        h3,
        p,
        ol,
        ul,
        li {
            margin-top: 0;
        }
        
        .btn {
            background-color: #2196F3;
            border: 1px solid #2196F3;
            border-radius: 2px;
            color: #ffffff;
            display: inline-block;
            font-family: Roboto, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 200px;
            height: 36px;
            padding: 0 8px;
            margin: 0;
            outline: 0;
            outline-offset: 0;
            -webkit-text-size-adjust: none;
        }
        
        .main {
            -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        }
        
        .columns {
            margin: 0 auto;
            width: 600px;
            background-color: #ffffff;
            font-size: 14px;
        }
        
        .column {
            text-align: left;
            background-color: #ffffff;
            font-size: 14px;
        }
        
        .column-top {
            font-size: 24px;
            line-height: 24px;
        }
        
        .content {
            width: 100%;
        }
        
        .content p {
            margin-top: 0;
            margin-bottom: 16px;
            color: #212121;
            font-family: sans-serif, Roboto, Helvetica;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    </style>

</head>

<body>
    <center class="wrapper">
        <div class="spacer">&nbsp;</div>
        <div style="justify-content: center!important; margin: 0px 20px;text-align: center;">
            <img style="height:200px" src="cid:riseupmora" title="logo" alt="logo">

        </div>

        <table class="main center" width="800" border="0" cellspacing="0" cellpadding="0">
            <tbody>

                <tr>
                    <td class="column">
                        <div class="column-top">&nbsp;</div>
                        <table class="content" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="padded">
                                        <p>Greetings from <strong>RISE UP MORA 2021</strong> Organizing Committee!</p>
                                        <p>Thank you for being a part of Phase 03 of RISE UP MORA 2021: the mock interview session organised by the IEEE Student Branch of University of Moratuwa which was held on the 20th of March 2021.</p>
                                        <p>Please find the feedback sent to you from the interview panel below. We thoroughly believe that you would build yourself up to become a better professional with this feedback given to you by the experts in the industry
                                            and the real-time experience gained at the interview.
                                        </p>


                                    </td>

                                </tr>
                                <tr>
                                    <td class="padded">
                                        <p> <strong>{{company}},</strong></p>
                                        <p>
                                            <strong style="font-size: 25px;">“</strong><i>{{feedback}}</i>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="padded">
                                        <p>Since your cooperation, support and enthusiasm throughout the event was a major cause of its success, your honest feedback about RISE UP MORA 2021 would be highly appreciated. So, please be kind enough to fill this
                                            feedback form and let us know your thoughts.</p>
                                        <p>We sincerely apologize for any inconveniences caused to you at the mock interview session. Stay connected with us to get the latest updates on the coming events.</p>
                                        <p style="text-align:center;"><a href="#" class="btn" style="color: white;">Feedback Form</a></p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="spacer">&nbsp;</div>
        <img style="height:50px" src="cid:ieelogo" title="logo" alt="logo">
    </center>

</body>

</html>